# PROJETO DE DETECÇÃO DE FRAUDES EM COMPRAS ONLINE

## Descrição

FONTE: https://www.kaggle.com/datasets/ealaxi/paysim1?resource=download

IDEALIZADO EM: https://medium.com/coders-camp/230-machine-learning-projects-with-python-5d0c7abf8265

## IMPORT DE BIBLIOTECAS

### conectar com o google drive

In [64]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### integrar spark no colab
https://www.analyticsvidhya.com/blog/2020/11/a-must-read-guide-on-how-to-work-with-pyspark-on-google-colab-for-data-scientists/

In [65]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null # download Java

In [66]:
!wget -q https://www-us.apache.org/dist/spark/spark-3.3.1/spark-3.3.1-bin-hadoop2.7.tgz #  install Apache Spark 3.0.1 with Hadoop 2.7

In [67]:
!tar xf spark-3.3.1-bin-hadoop3.tgz # unzip that folder

tar: spark-3.3.1-bin-hadoop3.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now

In [68]:
!pip install -q findspark # install findspark library

### iniciar ambiente spark

In [69]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/drive/MyDrive/..Python_Codes/Projeto_fraude_compras_online/content/spark-3.3.1-bin-hadoop3"

In [70]:
import findspark
findspark.init()

In [71]:
findspark.find()

'/content/drive/MyDrive/..Python_Codes/Projeto_fraude_compras_online/content/spark-3.3.1-bin-hadoop3'

In [72]:
#  change the permissions on its parent directory
!chmod 755 -R '/content/drive/MyDrive/..Python_Codes/Projeto_fraude_compras_online/content/spark-3.3.1-bin-hadoop3/./bin'

In [73]:
# import SparkSession from pyspark.sql and create a SparkSession, which is the entry point to Spark.
from pyspark.sql import SparkSession

spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [74]:
spark

### imports gerais

In [84]:
import pandas as pd
import numpy as np
import pyspark.sql.functions as F
from pyspark.sql.types import StringType
from pyspark.sql.functions import udf

## IMPORT DE FUNÇÕES

In [85]:
def translate(mapping):
      def translate_(col):
          return mapping.get(col)
      return udf(translate_, StringType())

## IMPORT DE DADOS

In [76]:
#@title Escolha de método de execução (Pandas ou PySpark) { form-width: "10%" }
METHOD = "PYSPARK" #@param ["PANDAS", "PYSPARK"]

In [77]:
if METHOD == 'PYSPARK':
  df = spark.read.csv("/content/drive/MyDrive/..Python_Codes/Projeto_fraude_compras_online/content/PS_20174392719_1491204439457_log.csv", header=True, inferSchema=True)
elif METHOD == 'PANDAS':
  df = pd.read_csv("/content/drive/MyDrive/..Python_Codes/Projeto_fraude_compras_online/content/PS_20174392719_1491204439457_log.csv", header=0)

In [78]:
if METHOD == 'PYSPARK':
  print(f"Esse dataframe tem {df.count()} linhas e {len(df.columns)} colunas")
  df.show() 

elif METHOD == 'PANDAS':
  print(f"Esse dataframe tem {len(df)} linhas e {len(df.columns)} colunas") 
  display(df)

Esse dataframe tem 6362620 linhas e 11 colunas
+----+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
|step|    type|   amount|   nameOrig|oldbalanceOrg|newbalanceOrig|   nameDest|oldbalanceDest|newbalanceDest|isFraud|isFlaggedFraud|
+----+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
|   1| PAYMENT|  9839.64|C1231006815|     170136.0|     160296.36|M1979787155|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  1864.28|C1666544295|      21249.0|      19384.72|M2044282225|           0.0|           0.0|      0|             0|
|   1|TRANSFER|    181.0|C1305486145|        181.0|           0.0| C553264065|           0.0|           0.0|      1|             0|
|   1|CASH_OUT|    181.0| C840083671|        181.0|           0.0|  C38997010|       21182.0|           0.0|      1|             0|
|   1| PAYMENT| 11668.14|C2048537720|      41554.0|      29885.86|M1230701703|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  7817.71|  C90045638|      53860.0|      46042.29| M573487274|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  7107.77| C154988899|     183195.0|     176087.23| M408069119|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  7861.64|C1912850431|    176087.23|     168225.59| M633326333|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  4024.36|C1265012928|       2671.0|           0.0|M1176932104|           0.0|           0.0|      0|             0|
|   1|   DEBIT|  5337.77| C712410124|      41720.0|      36382.23| C195600860|       41898.0|      40348.79|      0|             0|
|   1|   DEBIT|  9644.94|C1900366749|       4465.0|           0.0| C997608398|       10845.0|     157982.12|      0|             0|
|   1| PAYMENT|  3099.97| C249177573|      20771.0|      17671.03|M2096539129|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  2560.74|C1648232591|       5070.0|       2509.26| M972865270|           0.0|           0.0|      0|             0|
|   1| PAYMENT| 11633.76|C1716932897|      10127.0|           0.0| M801569151|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  4098.78|C1026483832|     503264.0|     499165.22|M1635378213|           0.0|           0.0|      0|             0|
|   1|CASH_OUT|229133.94| C905080434|      15325.0|           0.0| C476402209|        5083.0|      51513.44|      0|             0|
|   1| PAYMENT|  1563.82| C761750706|        450.0|           0.0|M1731217984|           0.0|           0.0|      0|             0|
|   1| PAYMENT|  1157.86|C1237762639|      21156.0|      19998.14|M1877062907|           0.0|           0.0|      0|             0|
|   1| PAYMENT|   671.64|C2033524545|      15123.0|      14451.36| M473053293|           0.0|           0.0|      0|             0|
|   1|TRANSFER| 215310.3|C1670993182|        705.0|           0.0|C1100439041|       22425.0|           0.0|      0|             0|
+----+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+
only showing top 20 rows

## TRATAMENTO E LIMPEZA DE DADOS

In [87]:
if METHOD == 'PYSPARK':
  df_clean = df.na.drop()

  # df_clean = df_clean.withColumn("type_copy", df["type"])

  types = df_clean.select("type").distinct().rdd.flatMap(lambda x: x).collect()
  types_expr = [F.when(F.col("type") == ty, 1).otherwise(0).alias("type_" + ty) for ty in types]
  df_clean = df_clean.select("*", "type", *types_expr)

  df.withColumn("type_num", translate({"CASH_OUT": 1, 
                                    "PAYMENT": 2, 
                                    "CASH_IN": 3, 
                                    "TRANSFER": 4,
                                    "DEBIT": 5})("type"))

  df.withColumn("isFraud_str", translate({0: "No Fraud", 1: "Fraud"})("isFraud"))

  # Indicador de quanto removeu dos dados
  print(f"""
  Sobraram neste dataframe {df_clean.count()} linhas e {len(df_clean.columns)} colunas
  Equivalente à {round(100*(df_clean.count()/df.count()),2)} % das linhas originais e {round(100*(len(df_clean.columns)/len(df.columns)),2)} % das colunas originais
  """)

  df_clean.show() 

elif METHOD == 'PANDAS':
  df_clean = df.dropna()

  # One Hot Encoding e mapping para substituir string por número (necessário para ML)
  df_clean['type_copy'] = df_clean['type']
  df_clean = pd.get_dummies(df_clean, columns=['type'])
  df_clean = df_clean.rename(columns={"type_copy": "type"})

  # mapping
  df_clean["type_num"] = df_clean["type"].map({"CASH_OUT": 1, 
                                        "PAYMENT": 2, 
                                          "CASH_IN": 3, 
                                          "TRANSFER": 4,
                                          "DEBIT": 5})

  df_clean["isFraud_str"] = df_clean["isFraud"].map({0: "No Fraud", 1: "Fraud"})

  # Indicador de quanto removeu dos dados
  print(f"""
  Sobraram neste dataframe {len(df_clean)} linhas e {len(df_clean.columns)} colunas
  Equivalente à {round(100*(len(df_clean)/len(df)),2)} % das linhas originais e {round(100*(len(df_clean.columns)/len(df.columns)),2)} % das colunas originais
  """)

  display(df_clean)

  Sobraram neste dataframe 6362620 linhas e 17 colunas
  Equivalente à 100.0 % das linas originais e 154.55 % das colunas originais

+----+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+--------+-------------+------------+-------------+------------+----------+
|step|    type|   amount|   nameOrig|oldbalanceOrg|newbalanceOrig|   nameDest|oldbalanceDest|newbalanceDest|isFraud|isFlaggedFraud|    type|type_TRANSFER|type_CASH_IN|type_CASH_OUT|type_PAYMENT|type_DEBIT|
+----+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+--------+-------------+------------+-------------+------------+----------+
|   1| PAYMENT|  9839.64|C1231006815|     170136.0|     160296.36|M1979787155|           0.0|           0.0|      0|             0| PAYMENT|            0|           0|            0|           1|         0|
|   1| PAYMENT|  1864.28|C1666544295|      21249.0|      19384.72|M2044282225|           0.0|           0.0|      0|             0| PAYMENT|            0|           0|            0|           1|         0|
|   1|TRANSFER|    181.0|C1305486145|        181.0|           0.0| C553264065|           0.0|           0.0|      1|             0|TRANSFER|            1|           0|            0|           0|         0|
|   1|CASH_OUT|    181.0| C840083671|        181.0|           0.0|  C38997010|       21182.0|           0.0|      1|             0|CASH_OUT|            0|           0|            1|           0|         0|
|   1| PAYMENT| 11668.14|C2048537720|      41554.0|      29885.86|M1230701703|           0.0|           0.0|      0|             0| PAYMENT|            0|           0|            0|           1|         0|
|   1| PAYMENT|  7817.71|  C90045638|      53860.0|      46042.29| M573487274|           0.0|           0.0|      0|             0| PAYMENT|            0|           0|            0|           1|         0|
|   1| PAYMENT|  7107.77| C154988899|     183195.0|     176087.23| M408069119|           0.0|           0.0|      0|             0| PAYMENT|            0|           0|            0|           1|         0|
|   1| PAYMENT|  7861.64|C1912850431|    176087.23|     168225.59| M633326333|           0.0|           0.0|      0|             0| PAYMENT|            0|           0|            0|           1|         0|
|   1| PAYMENT|  4024.36|C1265012928|       2671.0|           0.0|M1176932104|           0.0|           0.0|      0|             0| PAYMENT|            0|           0|            0|           1|         0|
|   1|   DEBIT|  5337.77| C712410124|      41720.0|      36382.23| C195600860|       41898.0|      40348.79|      0|             0|   DEBIT|            0|           0|            0|           0|         1|
|   1|   DEBIT|  9644.94|C1900366749|       4465.0|           0.0| C997608398|       10845.0|     157982.12|      0|             0|   DEBIT|            0|           0|            0|           0|         1|
|   1| PAYMENT|  3099.97| C249177573|      20771.0|      17671.03|M2096539129|           0.0|           0.0|      0|             0| PAYMENT|            0|           0|            0|           1|         0|
|   1| PAYMENT|  2560.74|C1648232591|       5070.0|       2509.26| M972865270|           0.0|           0.0|      0|             0| PAYMENT|            0|           0|            0|           1|         0|
|   1| PAYMENT| 11633.76|C1716932897|      10127.0|           0.0| M801569151|           0.0|           0.0|      0|             0| PAYMENT|            0|           0|            0|           1|         0|
|   1| PAYMENT|  4098.78|C1026483832|     503264.0|     499165.22|M1635378213|           0.0|           0.0|      0|             0| PAYMENT|            0|           0|            0|           1|         0|
|   1|CASH_OUT|229133.94| C905080434|      15325.0|           0.0| C476402209|        5083.0|      51513.44|      0|             0|CASH_OUT|            0|           0|            1|           0|         0|
|   1| PAYMENT|  1563.82| C761750706|        450.0|           0.0|M1731217984|           0.0|           0.0|      0|             0| PAYMENT|            0|           0|            0|           1|         0|
|   1| PAYMENT|  1157.86|C1237762639|      21156.0|      19998.14|M1877062907|           0.0|           0.0|      0|             0| PAYMENT|            0|           0|            0|           1|         0|
|   1| PAYMENT|   671.64|C2033524545|      15123.0|      14451.36| M473053293|           0.0|           0.0|      0|             0| PAYMENT|            0|           0|            0|           1|         0|
|   1|TRANSFER| 215310.3|C1670993182|        705.0|           0.0|C1100439041|       22425.0|           0.0|      0|             0|TRANSFER|            1|           0|            0|           0|         0|
+----+--------+---------+-----------+-------------+--------------+-----------+--------------+--------------+-------+--------------+--------+-------------+------------+-------------+------------+----------+
only showing top 20 rows

## ANÁLISE

In [80]:
df_info = df_clean.copy()

# pie chart
transaction_type = df_info["type"].value_counts()
transactions = transaction_type.index
quantity = transaction_type.values

import plotly.express as px
figure = px.pie(df_info, 
             values=quantity, 
             names=transactions,hole = 0.5, 
             title="Distribuição de tipos de transação")
figure.show()

# ================= Checking correlation =================
correlation = df_info.corr()
print('\n\n\nCorrelação entre variáveis:\n')
print(correlation["isFraud"].sort_values(ascending=False))

# ================= Sklearn ML prediction =================

# splitting the data
from sklearn.model_selection import train_test_split
x = np.array(df_info[["type_num", "amount", "oldbalanceOrg", "newbalanceOrig"]]) # variaveis independentes
y = np.array(df_info[["isFraud_str"]]) # variaveis dependentes

# training a machine learning model
from sklearn.tree import DecisionTreeClassifier
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.10, random_state=42)
model = DecisionTreeClassifier()
model.fit(xtrain, ytrain)
print('\n\n\nScore do modelo:\n')
print(model.score(xtest, ytest))

# prediction
#features = [type, amount, oldbalanceOrg, newbalanceOrig]
features = np.array([[4, 9000.60, 9000.60, 0.0]])
print('\nPredict para TRANSFER, amount $9000.60, oldbalanceOrg $9000.60, newbalanceOrig $0.00:\n')
print(model.predict(features))

AttributeError: ignored

## PLOT DE RESULTADOS

## ATUAÇÃO COM OUTSIDERS